/*****GLOBAL*****/
body, html {
	background:linear-gradient(0deg,rgba(63, 57,77, 0.7),rgba(63, 57, 77, 0.7)), url(../img/dance.jpg);
	background-size: cover;
	background-position: center;
}

/*****CLASSES*****/
.main-header {
}



/*****IDs*****/
#container-width {
	margin: 0 auto;
	max-width: 100%;
	width: 100%;
}


#calendar-left {
	border-radius: 1px;
	padding: 0.4rem;
}

#calendar-right {
	border-radius: 1px;
	padding: 0.4rem;
}

#calendar-container {
	margin: 0;
}

#calendar-section {
	padding: 0;
}

.page-footer {
}