/*****GLOBAL*****/
body {
	background-image: url("../pictures/loginBackground.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	/* Used for other browser support */
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	/*********************************/
	
}

h1 {
	
}

p {
	color: red;
}

input {
	padding: 0.5rem 1rem;
	min-width: 20rem;
	border-color: rgba(32, 32, 48, 0.9);
	background-color: rgba(28, 28, 36, 0.4);
	color: rgba(255, 255, 255, 1);
}

/*****CLASSES*****/
.loginContainer {
	padding: 1rem 4rem 2rem 4rem;
	border-radius: 0.2rem;
	box-shadow: 2px 2px 10px 2px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(32, 32, 54, 0.6);
}

.username {
}

.clearFloat {
	clear: both;
}

.formButtons {
	display: inline-block;
}
/*****IDS*****/
#loginTitle {
	font-family: sans-serif;
	color: rgba(255, 255, 255, 1); // will change
}

#usernameBox {
	border-radius: 5px 5px 0 0;
	border-bottom: 0;
	border-right: 0;

}

#passwordBox {
	border-radius: 0 0 5px 5px;
	border-bottom: 0;
	border-right: 0;
}

#loginButton {

}

#createAccountButton {
	
}