/*****IMPORTS*****/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*****GLOBAL*****/
body {
	font-family: "Montserrat", sans-serif;
	background-image: url("../pictures/loginBackground.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	/* Used for other browser support */
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	/*********************************/
	
}

h1 {
	
}

p {
	color: red;
}

input[type=text], input[type=password], textarea {
	padding: 0.5rem 1rem;
	min-width: 20rem;
	background-color: rgba(28, 28, 20, 0.4);
	color: rgba(255, 255, 255, 1);
	
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	border: 1px solid transparent;
}
 
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	box-shadow: 0 0 5px rgba(81, 90, 230, 1);
}

button::-moz-focus-inner { border: 0; }

/*****CLASSES*****/
.loginContainer {
	padding: 1rem 4rem 2rem 4rem;
	border-radius: 0.2rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(20, 20, 50, 0.6);
	box-shadow: 1px 1px 15px 2px;
}

.clearFloat {
	clear: both;
}

/*****IDS*****/
#loginTitle {
	color: rgba(250, 250, 250, 1) !important; 
}

#usernameBox {
	border-radius: 5px 5px 0 0;
}

#passwordBox {
	border-radius: 0 0 5px 5px;
}

#createAccountLink {
	color: rgba(128, 128, 128, 1);
}

#createAccountLink:hover {
	color: white;
	cursor: pointer;
}

#loginButtonWrapper {
	text-align: center; 
}

#loginButton {
	border: 1px solid rgba(32, 32, 32, 1);
	border-radius: 3px;
	padding: 0.5rem 1.5rem;
	color: rgba(128, 128, 128, 1);
	background-color: rgba(32, 32, 32, 1);
	transition-duration: 0.2s;
}

#loginButton:hover {
	background-color: rgba(32, 32, 32, 1);
	color: white;
	cursor: pointer;
}

#registerButtonWrapper {
	margin: 1rem 0 0 0;
	text-align: center;
}

#backToLoginLink {
	color: rgba(128, 128, 128, 1);
}

#backToLoginLink:hover {
	color: white;
	cursor: pointer;
}

#registerButton {
	margin: 1rem 0 0 0;
	border: 1px solid rgba(32, 32, 32, 1);
	border-radius: 3px;
	padding: 0.5rem 1.5rem;
	color: rgba(128, 128, 128, 1);
	background-color: rgba(32, 32, 32, 1);
	transition-duration: 0.2s;
}

#registerButton:hover {
	background-color: rgba(32, 32, 32, 1);
	color: white;
	cursor: pointer;
}

#firstName {
	border-radius: 5px 5px 0 0;
}

#zipCode {
	border-radius: 0 0 5px 5px;
}