/*GLOBAL*/
body {
	background-image: url("../pictures/loginBackground.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	/* Used for other browser support */
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	
}

h1 {
	
}

p {
	color: red;
}

input {

}

/*CLASSES*/
.loginContainer {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.username {
}

/*IDS*/
#loginTitle {
	color: red; // will change
}